@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}
